
.card{
  background-color: white;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 15px 5px 15px;
}
.loader{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000d9;
    justify-content: center;
    display: none;
    align-items: center;
}
.div-load{
	width: 300px;
    height: 260px;
    background: #625f5f;
    border-radius: 12px;
}
.loader img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 10px auto;
  justify-content: center;
}
.divAXA {
  background-color:#ffffff;
  width: 100%;
  color: rgb(0, 0, 0);
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.divQua {
  background-color:#ffffff;
  width: 100%;
  color: rgb(0, 0, 0);
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.divGNP {
  background-color:#ffffff;
  width: 100%;
  color: rgb(0, 0, 0);
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.BanderaAXA{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    background: #ffffff;
    justify-content: center;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.BanderaQua{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background: #ffffff;
  justify-content: center;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.BanderaGNP{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background: #ffffff;
  justify-content: center;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Formulario{
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
}
.vehiculo{
	display: flex;
	justify-content: left;
}

.divQua {
  background-color:#ffffff;
  width: 100%;
  color: rgb(0, 0, 0);
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.divGNP{
  background-color:#ffffff;
  width: 100%;
  color: rgb(0, 0, 0);
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.select1{
  width: 100%;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.imgBandera img{
  width: 70%;
}
.PrecioBander{
  width: 90%;
  float: right;
  height: 100px;
  font-size: 15px;
  text-align: center;
  line-height: 100px;
  color: #009BDD;
}
.MarcaBandera img{
  width: 100%;
}
.btn-consulta{
  border-radius: 10px;
  width: 100%;
}

