
.loader{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000d9;
    justify-content: center;
    display: none;
    align-items: center;
}
.div-load{
	width: 300px;
    height: 260px;
    background: #625f5f;
    border-radius: 12px;
}
.loader img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 10px auto;
  justify-content: center;
}
.Formulario{
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
}
.vehiculo{
	display: flex;
	justify-content: left;
}

.divAXA {
  background-color:#ffffff;
  width: 100%;
  color: rgb(0, 0, 0);
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.divQua {
  background-color:#ffffff;
  width: 100%;
  color: rgb(0, 0, 0);
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.divGNP{
  background-color:#ffffff;
  width: 100%;
  color: rgb(0, 0, 0);
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.select1{
  width: 100%;
}
.BanderaAXA{
  display: grid;
  column-gap: 50px;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
